@import "~bootstrap/scss/bootstrap.scss";

body {
    background-color: #5E5955;
}

.squares {
    width: 8rem;
    height: 8rem;
    border-width: 1px;
    border-style: solid;
    border-color: #686562;
    font-size: 4rem;   
   
}
